*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 90%;
    background-color: gray;
    margin: 0 auto;
    padding: 20px;
}
.enlaces{
    padding: 10px 10px;
    background-color: #FFF;
    color: #232565;
}