*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: max-content;
    background-image: url("img/breno-machado-in9-n0JwgZ0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.caja{
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin: 30px auto;
    background-image: url("img/dumbbell-regular-24.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}