*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ede8e2;
    height: 100vh;
    display: flex;
}
.grid{
    background-color: #ff2121;
    height: 90vh;
    width: 90%;
    max-width: 1200px;

}